body{
    background-color: black;
    color: rgba(241, 241, 241, 0.833);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    .header{background-color: rgb(91, 91, 91);
        color: aliceblue;
    }
    .header h2 {
        font-size:30px;
    }
    .nav a {
        color: rgb(0, 0, 0);
    }
    .hero{

    }
    .products{

    }
    .shop{

    }
    .footer{

    }
    

